/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

::selection {
   background-color: #4ec95b;
   color: var(--minor);
}
.page {
   max-width: 700px;
   margin: 100px auto;
   min-inline-size: 320px;
   min-block-size: 100dvb;
   font-family: var(--main-font), Arial, Helvetica, sans-serif;
   background-image: var(--main-background);
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   color: var(--major);
   font-variation-settings: "wght" var(--content-text-wght);
}

@supports (font-variation-settings: normal) {
   .page {
      font-family: var(--main-font), Arial, Helvetica, sans-serif;
   }
}

.header {
   /* max-width: 700px; */
   padding-top: 120px;
   padding-bottom: 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 20px;
   background-color: var(--minor);
   border: 2px solid var(--major);
}

.main-title {
   font-family: var(--special-font), Impact, fantasy;
   font-size: 49px;
   font-weight: 400;
   text-transform: uppercase;
   color: var(--major);
}

.slogan {
   font-family: var(--special-font), Impact, fantasy;
   font-size: 14px;
   font-weight: 400;
   text-transform: uppercase;
   color: var(--major);
   align-self: center;
}

.theme-menu {
   margin-top: 5px;
   margin-left: 20px;
   align-self: center;
}

.theme-menu__list {
   display: flex;
   flex-direction: column;
   gap: 9px;
   justify-content: center;
   align-items: start;
}

.theme-menu__button {
   position: relative;
   background: none;
   border: none;
   font-family: var(--special-font), Impact, fantasy;
   text-transform: uppercase;
   font-size: 14px;
   color: var(--major);
   transition: opacity 0.3s ease;
}

.theme-menu__button:hover {
   opacity: 0.6;
}

.theme-menu__button:disabled {
   pointer-events: none;
   opacity: 0.6;
}

.theme-menu__button:disabled::before {
   content: "▶";
   position: absolute;
   left: -12px;
}

.theme-menu__button:focus {
   outline: none;
}

.theme-menu__button::after {
   content: "";
   position: absolute;
   bottom: -2px;
   left: 0;
   background-color: var(--major);
   opacity: 0.6;
   width: 100%;
   height: 2px;
   transform: scale(0);
   transform-origin: left;
   transition: transform 0.3s ease;
}

.theme-menu__button:focus-visible::after {
   transform: scale(1);
}

.content {
   max-width: 700px;
   margin-top: 100px;
   /* padding-bottom: 50px; */
   font-family: var(--main-font), Arial, Helvetica, sans-serif;
   color: var(--major);
}

.content__cards {
   display: grid;
   grid-template-columns: 100%;
   grid-template-rows: auto;
   gap: 48px;
}

.card {
   font-variation-settings: "wght" var(--content-text-wght);
   padding-bottom: 25px;
   /* display: flex;
   flex-direction: column; */
   background-color: var(--minor);
   border: 2px solid var(--major);
}

.card__title {
   padding: 4px 10px 6px 10px;
   font-size: 18px;
   font-variation-settings: "wght" var(--content-title-wght);
}

.card__picture {
   position: relative;
}

.card__label {
   position: absolute;
   right: 10px;
   top: 25px;
   font-family: var(--special-font), Impact, fantasy;
   font-size: 14px;
   font-weight: 400;
   text-transform: uppercase;
   color: var(--major);
   mix-blend-mode: difference;
   text-shadow: 0 0 0 var(--minor);
   z-index: 2;
}

@supports ((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff)) {
   .card__label {
      -webkit-text-stroke: 1px var(--minor);
      text-stroke: 1px var(--minor);
      text-shadow: none;
   }
}

.card_img {
   width: 100%;
}

.card:nth-child(1) .filter {
   filter: none;
}

.card:nth-child(2) .filter {
   filter: grayscale(1);
}

.card:nth-child(3) .filter {
   filter: hue-rotate(45deg) grayscale(0.4) saturate(240%);
}

.card:nth-child(4) .filter {
   filter: saturate(140%) sepia(20%);
}

.card:nth-child(5) .filter {
   filter: invert(0.2);
}

.card:nth-child(6) .filter {
   filter: sepia(60%);
}

.card:nth-child(7) .filter {
   filter: contrast(120%);
}

.card:nth-child(8) .filter {
   filter: brightness(150%);
}

.card__text {
   padding: 25px;

   font-size: 18px;
   font-weight: normal;
   letter-spacing: 0%;
   line-height: 21px;
}

.card__text:last-of-type {
   padding-top: 0px;
}

.like {
   padding: 0 25px;
   display: flex;
   justify-content: end;
   align-items: center;
}

.button {
   background: var(--minor);
   border: 2px solid var(--major);
   font-family: var(--special-font), Impact, fantasy;
   font-size: 14px;
   line-height: 90%;
   position: relative;
   transition: 0.3s ease;
}

/* 
---
---
---
--- */

.button::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: var(--major);
   transform: scale(0, 1);
   transition: 0.5s ease-in-out;
   transform-origin: left;
}

.button:hover {
   cursor: pointer;
}

.button:hover::before {
   transform: scale(1, 1);
}

.button:focus {
   outline: none;
}

.button:focus-visible {
   box-shadow: 2px 2px 0 0 var(--major);
}

.card__icon-button {
   background: none;
   display: flex;
   justify-content: center;
   align-items: center;
   /* width: 38px; */
   /* height: 38px; */
   border: 2px solid transparent;
   transition: border 0.3s ease;
}

.card__icon-button:focus {
   outline: none;
}

.card__icon-button:focus-visible {
   border: 2px solid var(--major);
}

.button__text {
   color: var(--like-button-color);
   position: relative;
   text-align: center;
   z-index: 2;
   mix-blend-mode: difference;
}

.card__like-button {
   width: 130px;
   height: 38px;
}

.footer {
   margin-top: 50px;
}

.save {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.save__button {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 8px;
   width: 306px;
   height: 84px;
}

.save__icon {
   width: 28px;
   height: 28px;
   mix-blend-mode: difference;
   color: var(--floppy-icon-color);
}

.dialog {
   display: flex;
   flex-direction: column;
   gap: 30px;
   justify-content: space-between;
   border: 2px solid var(--major);
   /* width: 341px; */
   /* height: 191px; */
   background-color: var(--minor);
   padding: 30px 42px;
}

.dialog::backdrop {
   background-color: #000;
   opacity: 0.75;
}

.dialog:not([open]) {
   pointer-events: none;
   opacity: 0;
   padding: 0;
   border: 0;
   gap: 0;
}

.dialog__message {
   display: flex;
   justify-content: space-between;
   gap: 12px;
   align-items: center;
   width: 257px;
}

.dialog__message .save__icon {
   width: 39px;
   height: 39px;
}

.dialog__text {
   width: 198px;
   font-size: 14px;
   font-family: var(--special-font), Impact, fantasy;
   font-weight: normal;
   color: var(--major);
   text-transform: uppercase;
   line-height: 150%;
}

.dialog__button {
   /* width: 257px; */
   height: 38px;
}

/* Медиазапросы */
@media (700px <= width) {
   .page {
      min-width: 700px;
   }

   .header {
      padding-top: 136px;
   }

   .main-title {
      font-size: 65px;
   }

   .slogan {
      font-size: 23px;
   }

   .card__label {
      right: 25px;
   }

   .save__button {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 8px;
      width: 335px;
      height: 55px;
   }

   .save__icon {
      width: 21px;
      height: 21px;
      mix-blend-mode: difference;
   }

   .dialog {
      padding: 30px;
   }
}

/* Блок с пояснением для тех, кто зайдет на сайт */
.term {
   position: relative;
   font-weight: 800;
   text-shadow: 1px 1px 0 var(--accent);
}

.term:hover {
   cursor: pointer;
}

.term:hover::before {
   content: "Подход в вёрстке, когда итоговый результат максимально точно, пиксель в пиксель, совпадает с дизайнерским макетом";
   position: absolute;
   top: 20px;
   right: 20px;
   padding: 10px 12px;
   min-width: 266px;
   background-color: var(--minor);
   border: 2px solid var(--major);
   box-shadow: 2px 2px 0 var(--accent);
   text-shadow: none;
   font-size: 14px;
   z-index: 3;
}
